In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [2]:
spark = SparkSession.builder.appName("HW_30").getOrCreate()

In [6]:
schema = StructType([ \
                     StructField("customerID", IntegerType(), True), \
                     StructField("productID", IntegerType(), True), \
                     StructField("Value", FloatType(), True)])

In [7]:
df = spark.read.csv("customer-orders.csv",schema=schema)

In [8]:
df.printSchema()

root
 |-- customerID: integer (nullable = true)
 |-- productID: integer (nullable = true)
 |-- Value: float (nullable = true)

In [9]:
df.limit(4).toPandas()

   customerID  productID      Value
0          44       8602  37.189999
1          35       5368  65.889999
2           2       3391  40.639999
3          47       6694  14.980000

In [20]:
df.select("customerID","Value").groupBy("customerID").sum("Value").orderBy("sum(Value)").show(df)

+----------+------------------+
|customerID|        sum(Value)|
+----------+------------------+
|        45|3309.3800055980682|
|        79| 3790.569982469082|
|        96|3924.2299877405167|
|        23| 4042.650001913309|
|        99| 4172.290024012327|
|        75| 4178.499995291233|
|        36| 4278.049998521805|
|        98| 4297.259994864464|
|        47| 4316.299998342991|
|        77| 4327.730022907257|
|        13| 4367.619992315769|
|        48| 4384.329996109009|
|        49| 4394.599998474121|
|        94| 4475.569978475571|
|        67|  4505.78999453038|
|        50| 4517.269991545007|
|        78| 4524.510001778603|
|         5|4561.0700044333935|
|        57| 4628.399988114834|
|        83| 4635.799997210503|
+----------+------------------+
only showing top 20 rows